<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    회원 정보는 회원 인증이 되어야 확인 가능합니다.
    <p sec:authentication="name"></p>
    <p>[[${#authentication.name}]]</p>
    <p>[[${#authentication.principal}]]</p>
    <p>[[${#authentication.principal.email}]]</p>
    <p>[[${#authentication.principal.name}]]</p>
    <ul th:with="m=${#authentication.principal}">
        <li>[[${m.email}]]</li>
        <li>[[${m.name}]]</li>
    </ul>
</body>
</html>